body {
    padding-top: 50px;
    padding-bottom: 250px;
    background-image: url("http://i65.tinypic.com/vub83.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mycustom-jumbotron {
    border: 10px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px 40px 40px 40px !important;
    background-color: #FF8A38;
    background: rgba(255, 255, 255, 0.5);
    width: 100% !important;
    height: 400px !important;
    margin-top: 100px;
    line-height: 100px;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    font-family: "Exo";
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Exo";
    font-weight: bold;
}

.form-horizontal {
    border: solid 2px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
    width: auto;
    font-family: "Exo";
}

.navbar-brand {
    color: white !important;
    font-size: 30px;
}

.loginedit {
    color: white !important;
}

.table {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20px;
    font-family: "Exo";
}

#indexHeader {
    color: black !important;
    border: solid 2px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
    width: auto;
    font-family: "Exo";
    margin-bottom: 20px;
}

.button_slide {
    display: inline;
    border: 4px solid black;
    border-radius: 20px;
    padding: 18px 36px;
    display: inline-block;
    margin: 10px;
    font-family: "Exo";
    font-size: 25px;
    letter-spacing: 5px;
    cursor: pointer;
    text-decoration: none !important;
    box-shadow: inset 0 0 20 0 black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    word-wrap:
}

.slide_left:hover {
    box-shadow: inset 0 0px 10px 65px black;
}

#outer {
    width: 364px;
    margin: -70px auto 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 20px;
}


.button_slide1 {
    display: inline;
    border: 4px solid black;
    border-radius: 20px;
    padding: 18px 36px;
    display: inline-block;
    margin: 10px;
    font-family: "Exo";
    font-size: 25px;
    letter-spacing: 5px;
    cursor: pointer;
    text-decoration: none !important;
    box-shadow: inset 0 0 20 0 black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_left1:hover {
    box-shadow: inset 0 0px 10px 65px black;
}

#outer1 {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
}


.actionlinkstuff {
    color: white !important;
    text-decoration: none !important;
    font-family: "Exo";
}


.actionlinkbacktolist {
    color: black !important;
    text-decoration: none !important;
    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 7px;
    font-family: "Exo";
}

.createnew {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    padding: 8px;
    border-radius: 30px;
    font-weight: bold !important;
    text-decoration: none !important;
    font-family: "Exo";
    box-shadow: inset 0 0 0 0 rgba(113, 216, 130, 0.5);
    -webkit-transition: ease-out 0.8s;
    -moz-transition: ease-out 0.8s;
    transition: ease-out 0.8s;
}

    .createnew:hover {
        box-shadow: inset 0 0px 50px 20px rgba(113, 216, 130, 0.5);
    }

.control-label, col-md-2 {
    color: white !important;
}

#detailswhite {
    color: white !important;
    border: solid 2px black;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 10px;
    font-family: "Exo";
    padding: 10px;
}
/*-----------------------------------*/

#b1 {
    display: inline-grid;
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.5);
    transition: .8s ease;
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-left: 50px;
}

#b2 {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 7px solid white;
    border-radius: 50%;
    transition: all .8s ease-out;
    z-index: 1;
    top: -0px;
}

#b3 {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 7px solid white;
    border-radius: 50%;
    transition: all .8s ease;
    top: 0px;
}

#b1:hover #b2 {
    transform: rotateX(360deg)
}

#b1:hover #b3 {
    transform: rotateY(360deg)
}

#b1:hover {
    background: transparent;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5) inset;
}

    #b1:hover a {
        color: #a10000;
    }

#b1 a {
    font-family: arial;
    font-size: 18px;
    color: #fff;
    line-height: 200px;
    text-decoration: none;
    transition: all .8s ease;
    text-transform: uppercase;
    z-index: 6;
    font-family: "Exo";
}